# Direction 1
#### Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

# Import Librarie

In [1]:
import pandas as pd
import numpy as np
import os

# Import Datasets

In [2]:
path=(r'C:\Users\Admin\Desktop\Data Tasks\Data Immersion\Achievement 4\Instacart Basket Analysis\02 data')

In [3]:
ords_prods_merge=pd.read_pickle(os.path.join(path,'Prepared Data','df_ords_prods.pkl'))

# Direction 2
#### In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [4]:
#checking df
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders

In [5]:
#dropping merge column to save space
ords_prods_merge=ords_prods_merge.drop(columns=['_merge'])

In [6]:
#grouping df by department id and displaying the mean of the order number in each department
ords_prods_merge.groupby('department_id').agg({'order_number':'mean'})

               order_number
department_id
1                 15.457838
2                 17.277920
3                 17.170395
4                 17.811403
5                 15.215751
6                 16.439806
7                 17.225802
8                 15.340650
9                 15.895474
10                20.197148
11                16.170638
12                15.887671
13                16.583536
14                16.773669
15                16.165037
16                17.665606
17                15.694469
18                19.310397
19                17.177343
20                16.473447
21                22.902379

# Direction 3
#### Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

In [7]:
#creating a subset of first 1000000 rows
df=ords_prods_merge[:1000000]

In [8]:
#checking the new df
df.shape

(1000000, 16)

In [9]:
#grouping df by department id and displaying the mean of the order number in each department
df.groupby('department_id').agg({'order_number':'mean'})

               order_number
department_id
4                 18.825780
7                 17.472355
13                17.993423
14                19.246334
16                19.463012
17                11.294069
19                19.305237
20                17.599636

##### 1. In the smaller subset the average found for each department is higher than that in the entire dataframe( except department 17). Thus, the order number variables in the rest of the data set are lower (and higher for department 17).
##### 2. In the first 1000000 rows only products for 8 departments listed above were sold.

# Direction 4
#### Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [10]:
#creating column with max order for each user
ords_prods_merge['max_order']=ords_prods_merge.groupby('user_id')['order_number'].transform(np.max)

In [11]:
#checking the results
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22

##### creating loyalty flag

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order']<=10,'loyalty_flag']='New customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order']>10) & (ords_prods_merge['max_order']<=40),'loyalty_flag']='Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order']>40, 'loyalty_flag']='Loyal customer'

In [15]:
#checking the count for each flag
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [16]:
#checking the output of the loyalty flag
ords_prods_merge[['user_id','max_order','loyalty_flag']].head(30)

    user_id  max_order      loyalty_flag
0         1         10      New customer
1         1         10      New customer
2         1         10      New customer
3         1         10      New customer
4         1         10      New customer
5         1         10      New customer
6         1         10      New customer
7         1         10      New customer
8         1         10      New customer
9         1         10      New customer
10       15         22  Regular customer
11       15         22  Regular customer
12       15         22  Regular customer
13       15         22  Regular customer
14       15         22  Regular customer
15       19          9      New customer
16       19          9      New customer
17       19          9      New customer
18       21         33  Regular customer
19       31         20  Regular customer
20       31         20  Regular customer
21       43         11  Regular customer
22       43         11  Regular customer
23       52         27  Regular customer
24       52         27  Regular customer
25       52         27  Regular customer
26       52         27  Regular customer
27       52         27  Regular customer
28       52         27  Regular customer
29       52         27  Regular customer

# Direction 5
#### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [17]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','median','max','min','sum','count']})

                     prices
                       mean median      max  min          sum     count
loyalty_flag
Loyal customer    10.386335    7.4  99999.0  1.0  106814040.0  10284093
New customer      13.294669    7.4  99999.0  1.0   83011784.0   6243990
Regular customer  12.495717    7.4  99999.0  1.0  198391696.0  15876776

##### Note: Even though the loyal customer have more orders than the regular and new ones, the product prices are on average smaller.
Most of the clients are regular

In [18]:
#checking which product has the price 99999
df_price_99999=ords_prods_merge.loc[ords_prods_merge['prices']==99999.0]
df_price_99999

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag
29165516,183964,873,3,0,10,7.0,33664,11,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest days,Most orders,8,New customer
29165517,1851256,873,4,6,12,13.0,33664,8,1,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Regularly busy,Most orders,8,New customer
29165518,1915696,1893,1,5,17,NaN,33664,10,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Regularly busy,Average orders,6,New customer
29165519,2763293,1893,2,4,16,13.0,33664,6,1,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Least busy,Most orders,6,New customer
29165520,2564805,1893,4,1,17,30.0,33664,3,1,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest days,Average orders,6,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29166209,2249946,204099,29,0,8,4.0,33664,1,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest days,Average orders,39,Regular customer
29166210,2363282,204099,31,0,9,2.0,33664,1,1,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest days,Most orders,39,Regular customer
29166211,3181945,204395,13,3,15,8.0,33664,25,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Least busy,Most orders,15,Regular customer
29166212,2486215,205227,7,3,20,4.0,33664,8,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Least busy,Average orders,12,Regular customer
29166213,2232716,205227,10,0,11,4.0,33664,23,1,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest days,Most orders,12,Regular customer

In [20]:
df_price_99999['product_id'].value_counts()

product_id
33664    698
Name: count, dtype: int64

#### Note: It's highly unlikely that a milk can have a price as high as 99999. If possible, I would like to ask a superior the right price. Otherwise the number can be assigned a NaN value in order to have the results of the descriptive analytics plausible.

# Direction 6
#### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
#### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”



##### step 1:finding the mean of price for each user

In [21]:
ords_prods_merge['prices_mean']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [22]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,prices_mean
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797

##### step2: creating a spending flag

In [23]:
ords_prods_merge.loc[ords_prods_merge['prices_mean']<10,'spending_flag']='Low spender'

In [24]:
ords_prods_merge.loc[ords_prods_merge['prices_mean']>10,'spending_flag']='High spender'

In [25]:
ords_prods_merge['spending_flag'].value_counts(normalize=False)

spending_flag
Low spender     31770614
High spender      633864
Name: count, dtype: int64

# Direction 7
#### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

####  step 1:ffinding the median of time since last order

In [26]:
#creating the median in the “days_since_prior_order” column
ords_prods_merge['order_median']=ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

In [27]:
#checking the new column
ords_prods_merge[['user_id','days_since_prior_order','order_median']]

          user_id  days_since_prior_order  order_median
0               1                     NaN          20.5
1               1                    15.0          20.5
2               1                    21.0          20.5
3               1                    29.0          20.5
4               1                    28.0          20.5
...           ...                     ...           ...
32404854   202557                     1.0           8.0
32404855   202557                     3.0           8.0
32404856   203436                     NaN          15.0
32404857   203436                    15.0          15.0
32404858   205420                     NaN          13.0

[32404859 rows x 3 columns]

#### step2: creating a frequency flag

In [28]:
ords_prods_merge.loc[ords_prods_merge['order_median']<=10,'frequency_flag']='Frequent customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['order_median']>10)&(ords_prods_merge['order_median']<=20),'frequency_flag']='Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['order_median']>20,'frequency_flag']='Non-frequent customer'

In [31]:
#checking df
ords_prods_merge.head(50)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_label,busiest_days,busiest_period_of_day,max_order,loyalty_flag,prices_mean,spending_flag,order_median,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,9.0,Mid-range product,Least busy,Most orders,33,Regular customer,7.012683,Low spender,7.5,Frequent customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,9.0,Mid-range product,Least busy,Average orders,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,9.0,Mid-range product,Least busy,Most orders,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,9.0,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,9.0,Mid-range product,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
30,2542086,52,11,2,9,7.0,196,3,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
31,944694,52,12,1,16,6.0,196,7,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
32,1268191,52,15,2,11,8.0,196,3,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
33,1122089,52,17,2,10,6.0,196,4,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
34,1498922,52,18,2,10,14.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
35,180919,52,19,3,8,8.0,196,4,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
36,2695875,52,21,5,10,30.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
37,3205960,67,1,3,11,NaN,196,1,0,Soda,...,9.0,Mid-range product,Least busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
38,970922,67,2,1,15,5.0,196,2,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
39,596585,67,3,1,13,7.0,196,2,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
40,2037087,67,4,2,9,8.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
41,2474111,67,5,3,14,8.0,196,2,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
42,1568481,67,6,3,12,7.0,196,2,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
43,2048527,67,8,2,11,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
44,2389031,67,9,2,14,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
45,2378562,67,10,1,10,6.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
46,1515698,67,11,1,11,7.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
47,1928050,67,12,2,12,8.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
48,1949274,67,13,1,10,6.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
49,551869,67,14,1,9,7.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer

In [32]:
#checking frequency status
ords_prods_merge['frequency_flag'].value_counts()

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
Name: count, dtype: int64

# Direction 9
#### Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [33]:
ords_prods_merge.to_pickle(os.path.join(path,'Prepared data','ords_prods_merge_frequency_flags.pkl'))